.eucalyptus-pattern {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
  background-repeat: repeat;
  background-size: 1024px 1024px;
  opacity: 0.08;
  mix-blend-mode: multiply;
}

